<form action="/routing/userRegistration" method="POST" style="width: 500px;margin: 0px auto;">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="text" name="password"><br>
        Email:<br>
        <input type="email" name="email"><br>
       
        <input type="submit" value="Submit">
      </form>